%article.bbs-topic
  %h1.bbs-topic__title= t('.title', category: @category.name)

  .bbs-new-topic
    - if logged_in?
      = link_to t('.new_topic'), new_category_topic_path(@category), class: 'bbs-button'
    - else
      = link_to t('.require_login'), Bbs.config.login_path, class: 'bbs-button'

  %ol.bbs-topic-list
    - @topics.each do |topic|
      %li.bbs-topic-item
        %span= link_to topic.title, bbs.topic_comments_path(topic)
        %span= t('.comment_count', count: topic.comments.count)
