%h1
  カテゴリ
  = @category.name
  に
  = t('.create')

= form_for [bbs, @category, @topic], html: {class: 'bbs-form bbs-form--vertical'} do |f|
  .bbs-form-group
    = f.label :title
    = f.text_field :title

  .bbs-form-group
    = f.label :body
    = f.text_area :body

  = f.submit class: 'bbs-button'
