%article.bbs-topic
  %h1.bbs-topic__title= @topic.title

  .bbs-topic__body= @topic.body

  %ol.bbs-comment-list
    - @comments.each do |comment|
      %li.bbs-comment-item
        %article.bbs-comment
          %h1.bbs-comment__title= comment.title

          .bbs-comment__body= comment.body

  .bbs-pagination
    = paginate @comments

  .bbs-form.bbs-form--vertical
    = form_for [bbs, @topic, @comment] do |f|
      = f.label :title
      = f.text_field :title, class: "bbs-form-field #{@comment.errors[:title].any? ? 'bbs-form-field-error' : ''}"
      - if @comment.errors[:title].any?
        %ul.bbs-form-error-list
          - @comment.errors[:title].each do |error|
            %li.bbs-form-error-item= error

      = f.label :body
      = f.text_area :body, class: "bbs-form-field #{@comment.errors[:body].any? ? 'bbs-form-field-error' : ''}"
      - if @comment.errors[:body].any?
        %ul.bbs-form-error-list
          - @comment.errors[:body].each do |error|
            %li.bbs-form-error-item= error

      = f.submit
