- breadcrumb :comments, @topic

%article.bbs-article
  = cell('bbs/article', @topic)

  %hr

  - @comments.each do |comment|
    %article.bbs-article
      = cell('bbs/article', comment)

  .bbs-pagination
    = paginate @comments

    - content_for :head do
      = rel_next_prev_link_tags @comments

- if logged_in?
  = render partial: 'bbs/shared/comment_form', locals: {topic: @topic, comment: @comment}
- else
  = link_to t('.require_login'), Bbs.config.login_path, class: 'bbs-button'
