= form_for [bbs, topic, comment], html: {class: 'bbs-form bbs-form--vertical'} do |f|
  .bbs-form-group
    = f.label :title
    = f.text_field :title
    - if @comment.errors[:title].any?
      %ul.bbs-list.bbs-form-error-list
        - @comment.errors[:title].each do |error|
          %li.bbs-list-item.bbs-form-error-item= error

  .bbs-form-group
    = f.label :body
    = f.text_area :body
    - if @comment.errors[:body].any?
      %ul.bbs-list.bbs-form-error-list
        - @comment.errors[:body].each do |error|
          %li.bbs-list-item.bbs-form-error-item= error

  = f.submit class: 'bbs-button'
