= form_for [bbs, topic, comment], html: {class: 'bbs-form bbs-form--vertical'} do |f|
  .bbs-form-group
    = f.label :title
    = f.text_field :title
    = render partial: 'bbs/shared/validation_errors', locals: {object: @comment, attribute: :title}

  .bbs-form-group
    = f.label :body
    = f.text_area :body
    = render partial: 'bbs/shared/validation_errors', locals: {object: @comment, attribute: :body}

  = f.submit class: 'bbs-button'
