%header.bbs-article__header
  %h1.bbs-article__title= title

.bbs-article-container
  .bbs-article-creation
    %span.bbs-avatar
      %img(src="#{avatar_url}")

    %span.bbs-article__author-name= nickname

    %time.bbs-article__posted-at= l(created_at)

  %p.bbs-article__body= body
