= form_for current_bbs_user.profile, url: bbs.profile_path, html: {class: 'bbs-form bbs-form--vertical'} do |f|
  .bbs-form-group
    = f.label :avatar_url

    = f.collection_radio_buttons :avatar_id, Avatar.all, :id, :id do |r|
      = r.label { r.radio_button(style: 'width: 1em') + image_tag(r.object.image.url(:medium)) }

  .bbs-form-group
    = f.label :nickname
    = f.text_field :nickname

  = f.submit class: 'bbs-button'
